version: '3.8'

services:
  # --- KONTAINER 1: DATABASE MYSQL ---
  mysqldb:
    image: mysql:8.0
    container_name: okejek_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password123  # Password root database
      MYSQL_DATABASE: okejekdb          # Nama database otomatis dibuat
    ports:
      - "3307:3306" # Kita pakai port 3307 di laptop biar GAK BENTROK sama Laragon
    volumes:
      - db_data:/var/lib/mysql

  # --- KONTAINER 2: APLIKASI NODE JS ---
  app:
    build: .
    container_name: okejek_app
    restart: always
    ports:
      - "3000:3000" # Akses web di localhost:3000
    environment:
      # Koneksi ke Kontainer MySQL di atas
      DB_HOST: mysqldb      # PENTING: Nama service database di atas
      DB_USER: root
      DB_PASS: password123  # Harus sama dengan MYSQL_ROOT_PASSWORD
      DB_NAME: okejekdb
      SESSION_SECRET: rahasia_docker_banget
      PORT: 3000
    depends_on:
      - mysqldb # Tunggu database nyala dulu baru jalankan aplikasi

volumes:
  db_data: